<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">ngx-barcode-scanner</a>
    <button
      class="navbar-toggler collapsed"
      (click)="isCollapsed = !isCollapsed"
      aria-expanded="false"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Demo <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="content" >
  <div id="priContent kvflex">
      <router-outlet></router-outlet>
      <div id="footerSaftyDiv"></div>
  </div>
</div>